PORT=3010
ADMIN_USER=admin|<password>
NUXT_PUBLIC_API_URL=https://xxx # Update with real domain later
NUXT_PUBLIC_ASSET_URL=https://xxx # Update with real domain later
NUXT_QUEUE_SECRET=xxxx
NUXT_SERVER_URL=xxxx